/* header.css (SCSS-nesting stilində yazılıb) */
.headerContainer {
  width: 100%;
  height: 70px;
  display: flex;
  padding-right: 20px;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 2px solid #e8edf63f;

  .headerElements {
    display: flex;
    align-items: center;
    gap: 30px;

    .headerNotificationButton {
      position: relative;

      .headerBellIcon {
        font-size: 18px;
      }

      .headerNewNotifIcon {
        height: 5px;
        width: 5px;
        border-radius: 100%;
        background-color: #fd4a3d;
        animation: headerBlink 1s ease infinite;
        position: absolute;
        top: 0;
        right: 2px;
        outline: 2px solid white;
      }
    }

    .headerIcon {
      font-size: 18px;
    }

    .headerUserProfileLink {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      position: relative;
      cursor: pointer;

      img {
        height: 42px;
        width: 42px;
        border-radius: 70px;
      }

      .headerRightPart {
        display: flex;
        align-items: center;
        gap: 20px;

        .headerTitle {
          .headerNamePart {
            font-weight: 600;
            font-size: 16px;
          }

          .headerRolePart {
            font-weight: 400;
            font-size: 14px;
          }
        }

        .headerArrowIcon {
          transform: rotate(-90deg);
          font-size: 20px;
        }
      }

      .headerDropdownMenu {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 180px;
        padding: 8px 0;
        z-index: 999;

        .headerDropdownItem {
          display: flex;
          align-items: center;
          padding: 10px 16px;
          cursor: pointer;
          transition: background 0.2s;
          &:nth-child(1){
            position: relative;
            &::after{
              position: absolute;
              content: " ";
              background: #E3E8EF;
              height: 1px;
              width: 80%;
              bottom: -1px;
              border-radius: 8px;
            }
          }
          
          
          &:hover {
            color: #155EEF;
            >.headerDropdownIcon{
              color: #155EEF;
            }
          }

          .headerDropdownIcon {
            margin-right: 10px;
            font-size: 18px;
            color: #555;
          }
        }
      }
    }
  }
}

@keyframes headerBlink {
  0% {
    transform: scale(1);
    opacity: 1;
    background-color: #fd4a3d;
  }
  100% {
    transform: scale(1.1);
    background-color: #ff5347;
    opacity: 4;
  }
}
