.reportsPageWrapper{
    height: 100vh;
    background-color: white;
    border-radius: 10px;
    >.reportsPageTopPart{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;

        >.reportsPageTitle{
            font-size: 25px;
            font-weight: 500;
            color: black;
        }
        >.reportsDownload{
            >.reportsDownloadIcon{
                font-size: 20px;
                color: blue !important;
            }
        }
    }
    >.reportsPageQuickSearch{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 30px 20px;
        gap: 20px;

        >.quickSearchLeftPart{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 90%;
            gap: 10px;
        }
        >.quickSearchRightPart{

            .quickSearchReportIcon {
                cursor: pointer;
                font-size: 22px;
                color: #333; /* istəsən rəng də verə bilərsən */
                }
        }
    }

}

.reportsTableWrapper {
  background: white;
  border-radius: 8px;
  margin-top: 20px;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}



.tableScrollContainer {
  overflow-x: auto;
}

.reportsTable {
  width: 100%;
  min-width: 1000px;
}

.reportsTable th,
.reportsTable td {
  padding: 10px 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
}



.reportsTable thead th {
  background-color: #EEF2F6;
  font-weight: 600;
  position: sticky;
  text-align: center;
  top: 0;
  z-index: 1;
  &:nth-child(1){
    border-right: 1px solid #CDD5DF;
  }
}

.reportsTable tbody tr:hover {
  background-color: #f5f5f5;
 
}
.reportsTable th:nth-child(1),
.reportsTable td:nth-child(1) {
  border-right: 1px solid #CDD5DF;
}

.reportsTableResultMoney{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    gap: 120px;
    >p{
        font-weight: 600;
    }
}
