
.anamnesisList-container {
  height: 100vh;
  border-radius: 10px;
  background-color: #fff;
}

.anamnesisList-page-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  padding: 20px 20px 0; /* Başlığa yuxarıdan padding əlavə edildi */
}

.anamnesisList-controls-section {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
}

.anamnesisList-filters {
  display: flex;
  align-items: center;
  gap: 20px;
}

.anamnesisList-status-dropdown {
  width: 128px;
  height: 36px;
  border: 1px solid #CDD5DF;
  padding-left: 10px;
  border-radius: 8px;
  font-size: 14px;
}

.anamnesisList-search-box {
  position: relative;
}

.anamnesisList-search-input {
  height: 36px;
  width: 267px;
  border: 1px solid #CDD5DF;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 40px;
  font-size: 14px;
  outline: none;
}

.anamnesisList-search-button {
  background: none;
  border: none;
  position: absolute;
  right: 12px;
  top: 9px;
  cursor: pointer;
  color: #666;
  font-size: 20px;
}
.anamnesisList-search-icon{
  font-size: 20px;
}


.anamnesisList-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.anamnesisList-add-new-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #155EEF;
  border-radius: 8px;
  font-weight: 500;
  height: 45px;
  width: 186px;
  color: #155EEF;
  text-decoration: none; /* Link olduğu üçün alt xətti silirik */
  font-size: 14px;
}
.anamnesisList-add-new-button > span{
  font-size: 20px;
}

.anamnesisList-download-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #155EEF;
  font-size: 20px;
}
.anamnesisList-download-icon{
  font-size: 20px;
}


.anamnesisList-table-section {
  overflow-x: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.anamnesisList-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.anamnesisList-table th,
.anamnesisList-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

.anamnesisList-table th:first-child,
.anamnesisList-table td:first-child {
    border-right: 1px solid #e5e7eb;
    text-align: center;
}

.anamnesisList-table th {
  background-color: #f3f6fb;
  color: #374151;
  font-weight: 600;
  white-space: nowrap;
  
  
  >span{
    display: flex;
   
    >.anamnesisList-sort-icon{
      font-size: 15px;
    }
  }
}

.anamnesisList-table th .anamnesisList-sort-icon {
  margin-left: 5px;
  cursor: pointer;
  color: #888;
  font-size: 16px; /* İkon ölçüsü */
  vertical-align: middle;
}

.anamnesisList-table td {
  color: #333;
}

.anamnesisList-table td a {
  color: #155EEF; /* Mavi rəng linklər üçün */
  text-decoration: none;
}

.anamnesisList-table td a:hover {
  text-decoration: underline;
}

.anamnesisList-order-number {
  display: inline-block;
  padding: 4px 8px;
  background-color: #e9ecef;
  border-radius: 4px;
  font-size: 12px;
  color: #555;
}

.anamnesisList-status-badge {
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  display: inline-block; /* span elementini display:block kimi davranmasını təmin edir */
}

.anamnesisList-status-badge.active {
  background-color: #22c55e; /* Aktiv üçün yaşıl */
  color: white;
}

.anamnesisList-status-badge.passive {
  background-color: #FD4A3D; /* Passiv üçün qırmızı */
  color: white;
}

.anamnesisList-action-icons {
  display: flex;
  gap: 10px;
}

.anamnesisList-edit-button,
.anamnesisList-delete-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px; /* İkon ölçüsü */
}

.anamnesisList-edit-button {
  color: #3b82f6; /* Mavi */
}

.anamnesisList-delete-button {
  color: #ef4444; /* Qırmızı */
}

.firstElementOfTHS{
  display: flex;
  justify-content: center !important;
  text-align: center;
}