.techniciansPageContainer{
    height: 100vh;
    background: #fff ;
    border-radius: 10px;
    >.techiniciansPageTopPart{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        >.leftPartOfTop{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            >select{
                outline: 1px solid #CDD5DF;
                border-radius: 10px;
                width: 128px;
                height: 36px;
                padding-left: 10px;
                border: none;
                &:focus{
                    border: none;
                    outline: 1px solid #599ef3;
                }
            }
             > .searchBarContainer {
                   position: relative;
        
                   > input {
                   border: 1px solid #CDD5DF;
                   width: 220px;
                   border-radius: 8px;
                   padding: 8px 40px 8px 16px;
                   font-size: 14px;
                   &:focus {
                       border: none;
                       outline: 1px solid #CDD5DF;
                   }
                   }
        
                   > .searchIconBTN {
                   position: absolute;
                   right: 12px;
                   top: 50%;
                   transform: translateY(-50%);
                   font-size: 18px;
                   color: #555;
                   cursor: pointer;
                   }
               }
        }
        >.rightPartOfTop{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            >.addNewTechnicianNow{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                height: 36px;
                width: 166px;
                border: 1px solid #155EEF;
                border-radius: 10px;
                color: #155EEF;
                font-weight: 500;
                transition: 0.4s ease;
                >span{
                    transition: 0.4s ease;
                    font-size: 22px;
                    color: #155EEF;
                }
                &:hover{
                    cursor: pointer;
                    color: #fff;
                    background-color: #155EEF;
                    >span{
                        color: #fff;
                    }

                }
            }
            >.exportDataOfTechs{
                >.exportDataOfTechsIcon{
                    color: #155EEF;
                    font-size: 20px;
                }
            }
        }
    }
}

.employeesListWrapper{
  height: 100vh;
    background: white;
    border-radius: 8px;
}


.techniciansTableWrapper {
    margin-top: 20px;
    background-color: white !important;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;

    .techniciansTable {
      width: 100%;
      min-width: 850px;
      border-collapse: collapse;
  
      thead {
        background-color: #EEF2F6;
  
        tr {
          font-weight: 300;
  
          th {
            padding: 12px;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            border-bottom: none;
            >span{
                display: flex;
                align-items: center;
                justify-content: center;
            }
  
            .th-content {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 6px;
  
              svg {
                font-size: 14px;
                color: #9AA4B2;
              }
  
              span {
                display: inline-block;
                display: flex;
                align-items: center;
                gap: 10px;
                .tableArrowIcon{
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
  
      tbody {
        
        tr {
          transition: background-color 0.2s;
  
          &:hover {
            background-color: #F3F4F6;
          }

  
          td {
            padding: 12px;
            text-align: center;
            border-bottom: 1px solid #CDD5DF;
            font-size: 14px;
  
            &:first-child {
              .avatarNameWrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
  
                .avatar {
                  width: 32px;
                  height: 32px;
                  border-radius: 50%;
                  object-fit: cover;
                }
              }
            }
  
            .status {
              padding: 4px 10px;
              border-radius: 8px;
              color: #fff;
              font-weight: 500;
              font-size: 13px;
  
              &.active {
                background-color: #4CAF50;
              }
  
              &.passive {
                background-color: #f44336;
              }
            }
  
            .actionsWrapper {
              display: flex;
              justify-content: center;
              gap: 10px;
  
              .icon {
                font-size: 18px;
                font-weight: 600;
                transition: transform 0.2s;
  
                &:hover {
                  cursor: pointer;
                }
  
                &.info,
                &.edit {
                  color: #155EEF;
                }
  
                &.delete {
                  color: #FD4A3D;
                }
              }
            }
          }
        }
      }
    }
  }
  
.employeeScheduleTableData{
  color: #155EEF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-weight: 500;
  >.employeeScheduleTableDataIcon{
    font-size: 20px;
  }
}

.usernameOfTech{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            >.imageOfTech{
                height: 100%;
                width: 30px;
                border-radius: 50%;
                object-fit: cover;
    }
}
.priceListLinkTech{
    color: #155EEF;
    font-weight: 500;
}