.addEmployeeContainer{
    height: 100%;
    background-color: white;
    border-radius: 8px;
    .addEmployeeTitle{
        font-size: 22px;
        font-weight: 600;
        padding: 20px;
    }
    .addEmployeeTopPart{
        display: flex;
        align-items: center;
        padding: 20px;
        gap: 50px;
        >img{
            height: 80px;

        }
        >.addEmployeeTopPartButtons{
            display: flex;
            align-items: center;
            gap: 10px;
            >button{
                width: 143px;
                height: 36px;
                background-color: #155EEF;
                color: white;
                border-radius: 8px;
                border: 1px solid #155EEF;
            }
            >input{
                width: 143px;
                height: 36px;
                background-color: #155EEF;
                color: white;
                border-radius: 8px;
                border: 1px solid #155EEF;
            }
            >.addEmployeePFP{
                transition: 0.5s ease;
                &:hover{
                    cursor: pointer;
                    background-color: #0542bd;
                }
            }
            >.deleteEmployeePFP{
                background-color: white;
                color: #155EEF;
                transition: 0.5s ease;
                &:hover{
                    background-color: #0542bd;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }  
    >.addEmployeeFormPart{
      >.addEmployeeForm{
        padding: 20px;
          >.addEmployeeFormSectionFirst{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
            >.addEmployeeFormSectionFirstLeft{
                display: flex;
                flex-direction: column;

                gap: 20px;
                >.addEmployeeDataPart{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    >.nameTagForInput{
                        display: flex;
                        align-items: center;
                        >span{
                            color: red;
                        }
                    }
                    >input{
                        width: 380px;
                        height: 44px;
                        border-radius: 8px;
                        padding: 10px;
                        margin-left: 30px;
                        border: 1px solid #CDD5DF;
                    }
                    >select{
                        width: 380px;
                        height: 44px;
                        border-radius: 8px;
                        padding: 10px;
                        margin-left: 30px;
                        border: 1px solid #CDD5DF;
                    }

                }
                >.addEmployeeCheckboxGender{
                    display: flex;
                    align-items: center;
                    gap:50px;
                    >label{
                        >span{
                            color: red;
                        }
                    }
                    >.inputsForGenders{
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        >.malePartSelection{
                            display: flex;
                            align-items: center;
                            gap: 10px;  
                        }
                        >.femalePartSelection{
                            display: flex;
                            align-items: center;
                            gap: 10px;  
                        }
                        
                    }
                }
            }
            >.addEmployeeFormSectionFirstRight{
                display: flex;
                flex-direction: column;

                gap: 20px;
                >.addEmployeeDataPart{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    >.nameTagForInput{
                        display: flex;
                        align-items: center;
                        >span{
                            color: red;
                        }
                    }
                    >input{
                        width: 380px;
                        height: 44px;
                        border-radius: 8px;
                        padding: 10px;
                        margin-left: 30px;
                        border: 1px solid #CDD5DF;
                    }

                }
                >.permisionsDataPart{
                    display: flex;
                    width: 100%;
                    justify-content: flex-start;
                    gap: 120px;
                    
                    >.permisionsList{
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                        >.permisionRow{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }
                    }
                    >.nameTagForInput{
                        display: flex;
                        align-items: center;
                        >span{
                            color: red;
                        }
                    }
                    /* >input{
                        width: 380px;
                        height: 44px;
                        border-radius: 8px;
                        padding: 10px;
                        margin-left: 30px;
                        border: 1px solid #CDD5DF;
                    } */
                    
                    
                }
                >.addEmployeeCheckboxGender{
                    display: flex;
                    align-items: center;
                    gap:50px;
                    >label{
                        >span{
                            color: red;
                        }
                    }
                    >.inputsForGenders{
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        >.malePartSelection{
                            display: flex;
                            align-items: center;
                            gap: 10px;  
                        }
                        >.femalePartSelection{
                            display: flex;
                            align-items: center;
                            gap: 10px;  
                        }
                        
                    }
                }
            }
          
        }
        > .addEmployeeDivider{
            width: 95%;
            height: 1px;
            background-color: #D4DCE8;
            margin: 30px auto;
            border-radius: 8px;
        }
        .addEmployeeFormSectionSecond {
            padding: 20px;
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 20px;
          
            .maxDiscountDataPart {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 20px;
              width: 100%;
          
              label {
                width: 300px;
                font-weight: 500;
              }
          
              input {
                flex: 1;
                height: 44px;
                padding: 10px;
                border: 1px solid #CDD5DF;
                border-radius: 8px;
              }
            }
          }
          
        > .adddEmployeeFormSubmitionButtons{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 20px;
            >.cancelProcessButton{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                height: 36px;
                width: 143px;
                border: 1px solid #155EEF;
                border-radius: 8px;
                font-weight: 600;
                font-size: 15px;
                color: #0542bd;
                >img{
                    height: 15px;
                    color: #0542bd;
                }
            }
            >.acceptProcessButton{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                height: 36px;
                width: 163px;
                border: 1px solid #155EEF;
                border-radius: 8px;
                font-weight: 600;
                font-size: 14px;
                color: white;
                background-color: #155EEF;
                >img{
                    height: 10px;
                    color: #0542bd;
                }
            }
        }
      }  
    }

}